<div id="slideshow-{{ include.id }}">
  <div class="slideshow-container">
    {% assign flag = 0 %}
    {% for slide in include.slides %}
      {% if flag == 0 %}
      <div class="mySlides fade">
      {% else %}
      <div class="mySlides fade" style="display: none;">
      {% endif %}
        <img src="assets/{{ slide }}" style="width:100% {{ include.style }}" class="{{ include.class }}">
    </div>
    {% assign flag = 1 %}
    {% endfor %}

    {% for video in include.videos %}
      <div class="mySlides fade" style="display: none;">
        <video src="assets/{{ video }}" class="{{ include.class }}" controls>
        </video>
    </div>
    {% endfor %}

  <a class="prev" onclick="plusSlides(-1, 'slideshow-{{ include.id }}')">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 'slideshow-{{ include.id }}')">&#10095;</a>
</div>
<br>

<div style="text-align:center">
    {% assign i = 0 %}
    {% for slide in include.slides %}

      {% if i == 0 %}
      <span class="dot active" onclick="currentSlide({{ i }}, 'slideshow-{{ include.id }}')"></span>
      {% else %}
      <span class="dot" onclick="currentSlide({{ i }}, 'slideshow-{{ include.id }}')"></span>
      {% endif %}

    {% assign i = i | plus: 1 %}
    {% endfor %}

    {% for video in include.videos %}
    <span class="dot" onclick="currentSlide({{ i }}, 'slideshow-{{ include.id }}')"></span>
    {% assign i = i | plus: 1 %}
    {% endfor %}
</div> 
</div>
