@charset "utf-8";

.footer-text {
  display: block;
  position: relative;
  font-size: 14px;

  ul {
    display: flex;
    list-style-type: none;
    verflow: hidden;
  }

  li {
    margin: 10px 5px;
  }

  img {
    width: 33px;
    height: 33px;
  }
}

