.header {
  padding-top: 35px;
}

.header-sub {
  display: flex;
  justify-content: flex-start;
}

.header .pfp {
  border-radius: 10%;
  //float: right;
  padding-right: 10px;
}

.header img {
    width: 15%;
    height: 15%;
}

.header nav {
  padding-top: 10px;
  padding-bottom: 20px;
}

.header nav a {
  padding-right: 3px;
}
